<div th:fragment="beehives" th:if="${apiary != null}" id = "beehives">
    <h1 class="text-center" th:text="${apiary.name}">Пасека</h1>

    <div class="col input-group mt-2">
        <div class="radio-form">
            <label class="radio-control">
                <input name="type" type="radio" th:value="${apiary.type}" checked="checked" readonly/>
                <span class="radio-input">
                         <i class="fa fa-truck" th:if="${apiary.type == T(ru.crimea.beelife.model.ApiaryType).mobile.toString()}"></i>
                         <i class="fa fa-home" th:if="${apiary.type == T(ru.crimea.beelife.model.ApiaryType).stationary.toString()}"></i>
                        <span th:text="#{'enum.apiary.type.'+${apiary.type}}">ApiaryType</span>
                     </span>
            </label>
        </div>
        <label class="bg-transparent align-items-center text-center d-flex">
            <p type="text" id="apiary_description" class="input-field"
               th:text="${apiary.description}"></p>
        </label>
    </div>
    <form th:action="'/user/home/apiary/' + ${apiary.id}" id="searchForm">
        <input type="text"  id="apiaryId"  th:value="${apiary.id}" hidden="hidden"/>
        <div class="row d-flex">
            <div class="col mt-2">
                <input type="submit" id="btnAddBeehive" class="btn btn-warning" th:value="#{button.add}"/>
            </div>
            <div class="col mt-2">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                           class="form-control"
                           th:placeholder="#{input.placeholder.search}"/>
                    <button type="submit" class="btn btn-warning" th:text="#{button.search}">Search</button>
                </div>
            </div>
            <div class="col mt-2">
                <input type="reset" id="btnClear" class="btn btn-warning" th:value="#{button.clear}"/>
            </div>
            <div class="col input-group mt-2">
                <div class="search">
                    <label class="input-group-text" for="pageSize" th:text="#{label.table.page.size}">Items
                        per
                        page:</label>
                </div>
                <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                        class="size-select bg-warning" id="pageSize">
                    <option th:each="s : ${ {3, 5, 10} }" th:value="${s}" th:text="${s}"
                            th:selected="${s == pageSize}"></option>
                </select>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th scope="col" th:text="#{label.table.beehives.name}">Name</th>
            <th scope="col" th:text="#{label.table.beehives.description}">Description</th>
            <th scope="col" th:text="#{label.table.beehives.type}">Type</th>
            <th scope="col" th:text="#{label.table.beehives.frame}">Frame</th>
            <th scope="col" th:text="#{label.table.beehives.details}">Details</th>
            <th scope="col" th:text="#{label.table.beehives.actions}">Actions</th>
        </tr>
        </thead>
        <div class="flex-shrink-0" th:if="${beehives != null && beehives.size() > 0}">
            <tbody class="table-group-divider">
            <tr th:each="beehive : ${beehives}">
                <th scope="row">[[${beehive.name}]]</th>
                <td>[[${beehive.description}]]</td>
                <td>[[#{'enum.beehive.type.'+${beehive.getType()}}]]</td>
                <td>[[${beehive.frame}]]</td>
                <td><a th:href="@{'/user/home/beehive/details/' + ${beehive.id}}" th:title="#{button.show}"
                       class="fa fa-info-circle icon-dark btn-show"
                       data-toggle="modal" data-target="#showModal"
                       th:id=" ${beehive.id}" th:name="${beehive.name}">
                </a></td>
                <td>
                    <a th:href="@{'/user/home/beehive/' + ${beehive.id}}" th:title="#{button.edit}"
                       class="fa-regular fa-pen-to-square icon-dark btn-update"
                       data-toggle="modal" data-target="#saveModal"
                       th:id=" ${beehive.id}" th:name="${beehive.name}"
                       th:description="${beehive.description}"
                       th:type="${beehive.type}" th:frame="${beehive.frame}">
                    </a>
                    <a th:href="@{'/user/home/beehive/delete/' + ${beehive.id}}"
                       th:title="#{button.delete}" class="fa-regular fa-trash-can icon-dark btn-delete"
                       data-toggle="modal" data-target="#modal-warning"
                       th:name="${beehive.name}"
                       th:attr="data-target='#modal-warning'+${beehive.name}"></a>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/pagingBeehives :: paging(1, '<<', #{pagination.first.page})"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/pagingBeehives :: paging(${currentPage - 1}, #{pagination.prev}, #{pagination.previous.page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="fragments/pagingBeehives :: paging(${page}, ${page}, #{pagination.page(${page})})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold"
                th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/pagingBeehives :: paging(${currentPage + 1},#{pagination.next}, #{pagination.next.page})"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/pagingBeehives :: paging(${totalPages}, '>>', #{pagination.last.page})"></a>
            </li>
        </ul>
    </nav>
</div>