<header th:fragment="header">
    <nav class="navbar navbar-expand-md bg-custom navbar-dark">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand text-black" th:href="${isAdmin} ? @{/admin/home} : @{/user/home}">
                BeeLife
            </a>
            <div class="collapse navbar-collapse" id="navbarScroll">

<!--                <a th:href="@{'/user/home/apiary/delete/' + ${apiary.id}}"-->
<!--                   th:text="#{menu.delete}" class="btn-delete text-black"-->
<!--                   th:if="${apiary != null}"-->
<!--                   th:message="#{modal.delete.confirmText.apiary(${apiary.name})}"-->
<!--                   th:attr="data-target='#modal-warning'+${apiary.name}"></a>-->

                <ul class="navbar-nav d-flex flex-row me-1">

                    <li class="nav-item dropdown">
                        <a data-mdb-dropdown-init class="nav-link dropdown-toggle text-black" href="#"
                           id="apiaryDropdown"
                           role="button"
                           data-toggle="dropdown" aria-expanded="false" th:text="#{menu.apiary}"> Пасека </a>

                        <ul class="dropdown-menu dropdown-menu-end" th:if="${apiaries != null && apiaries.size() > 0}">
                            <li th:each="apiaryItem : ${apiaries}">
                                <a th:href="'/user/home/apiary/' + ${apiaryItem.id}" class="dropdown-item text-black"
                                   th:id="${apiaryItem.getName()}" th:text="${apiaryItem.getName()}">Overview</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <input type="submit" id="addApiary" class="btn btn-toggle align-items-center rounded"
                       aria-expanded="true"
                       th:value="#{menu.add}"/>

                <input type="submit" id="deleteApiary" class="btn align-items-center rounded btn-delete text-black"
                       aria-expanded="true"
                       th:value="#{menu.delete}"
                       th:if="${apiary != null}"
                       th:message="#{modal.delete.confirmText.apiary(${apiary.name})}"
                       th:href="@{'/user/home/apiary/delete/' + ${apiary.id}}"/>
            </div>
            <!-- Icons -->
            <ul class="navbar-nav d-flex flex-row me-1">

                <li class="nav-item dropdown">
                    <a data-mdb-dropdown-init class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        <i class="fi" th:classappend="${#strings.equals(param.lang, 'us')} ? 'fi-us' : 'fi-ru'"
                           id="lang"></i> </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item text-black" href="?lang=ru" id="lang-ru" th:inline="text"><i
                                    class="fi fi-ru"></i>[[#{language.ru}]]</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-black" href="?lang=us" id="lang-us" th:inline="text"><i
                                    class="fi fi-us"></i>[[#{language.us}]]</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" th:title="#{button.logout}"
                       class="fa fa-sign-out icon-dark"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>