<header th:fragment="header">
    <nav class="navbar navbar-expand-md bg-custom navbar-dark">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand text-black" th:href="@{/admin/home}">
                BeeLife
            </a>
            <!-- Icons -->
            <ul class="navbar-nav d-flex flex-row me-1">

                <li class="nav-item dropdown">
                    <a data-mdb-dropdown-init class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        <i class="fi" th:classappend="${#strings.equals(param.lang, 'us')} ? fi-us : fi-ru" id="lang"></i> </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item text-black" href="?lang=ru" id="lang-ru" th:inline="text"><i class="fi fi-ru"></i>[[#{language.ru}]]</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-black" href="?lang=us" id="lang-us" th:inline="text"><i class="fi fi-us"></i>[[#{language.us}]]</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" th:title="#{button.logout}"
                       class="fa fa-sign-out icon-dark"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>