<div th:fragment="saveBeehive" class="saveForm container" th:if="${apiary != null}">
    <form method="post" autocomplete="on" th:action="@{/user/home/beehive/save}" th:object="${beehive}">
        <div class="modal fade text-left" id="saveModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   th:value="${beehive?.getId()}" id="id" name="id" hidden="hidden"/>
                            <input type="text" class="form-control"
                                   th:value="${beehive == null ? apiary.getId() : beehive.getApiaryId()}" id="apiaryId"
                                   name="apiaryId" hidden="hidden"/>
                            <div class="input-icons">
                                <i class="fa fa-home icon"></i>
                                <input type="text" class="form-control input-field" id="name" name="name"
                                       th:value="${beehive?.getName()}"
                                       required="required" th:placeholder="#{input.placeholder.beehive.name}"/>
                            </div>
                            <div class="input-icons">
                                <i class="fa fa-home icon"></i>
                                <input type="text" class="form-control input-field" id="description" name="description"
                                       required="required" th:placeholder="#{input.placeholder.beehive.description}"/>
                            </div>
                            <div class="form-control input-field">
                                <select id="type" name="type">
                                    <option th:each="type : ${T(ru.crimea.beelife.model.HiveType).values()}"
                                            th:value="${type.name()}"
                                            th:text="#{'enum.beehive.type.'+${type}}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-control input-field">
                                <select id="frame" name="frame">
                                    <option th:each="frame : ${T(ru.crimea.beelife.model.Frame).values()}"
                                            th:value="${frame.getFrameType()}"
                                            th:text="${frame.getFrameType()}">
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" id="changeBtn" class="btn btn-secondary" value="Сохранить"/>
                        <input type="button" class="btn btn-secondary btn-default" data-bs-dismiss="modal"
                               value="Отменить"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>