<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Beelife</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/pagination.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.5.0/css/flag-icons.min.css"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 1000px; margin: 0 auto;">
    <h2 class="text-center" th:text="#{header.list.of.users}">Users</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="my-3">
        <form th:action="@{/admin/home}" id="searchForm">
            <div class="row d-flex">
                <div class="col mt-2">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                               th:placeholder="#{input.placeholder.search}"/>
                        <button type="submit" class="btn btn-warning" th:text="#{button.search}">Search</button>
                    </div>
                </div>
                <div class="col mt-2">
                    <input type="reset" id="btnClear" class="btn btn-warning" th:value="#{button.clear}"/>
                </div>
                <div class="col input-group mt-2">
                    <div class="search">
                        <label class="input-group-text" for="pageSize" th:text="#{label.table.page.size}">Items per page:</label>
                    </div>
                    <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                            class="size-select bg-warning" id="pageSize">
                        <option th:each="s : ${ {3, 5, 10} }" th:value="${s}" th:text="${s}"
                                th:selected="${s == pageSize}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="table-rounded" th:if="${users.size() > 0}">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col" th:text="#{label.table.users.id}">Id</th>
                <th scope="col" th:text="#{label.table.users.username}">username</th>
                <th scope="col" th:text="#{label.table.users.email}">Email</th>
                <th scope="col" th:text="#{label.table.users.actions}">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="user : ${users}">
                <th scope="row">[[${user.id}]]</th>
                <td>[[${user.username}]]</td>
                <td>[[${user.email}]]</td>
                <td>
                    <a th:href="@{'/admin/home/user/' + ${user.id}}" th:title="#{button.edit}"
                       class="fa-regular fa-pen-to-square icon-dark btn-update"
                       data-toggle="modal" data-target="#updateModal" th:user="${user.username}"></a>&nbsp;
                    <a th:href="@{'/admin/home/delete/' + ${user.id}}" th:username="${user.username}" id="btnDelete"
                       th:title="#{button.delete}" class="fa-regular fa-trash-can icon-dark btn-delete"
                       data-toggle="modal" data-target="#modal-warning"
                       th:attr="data-target='#modal-warning'+${user.id }"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${users.size() > 0}">
        <span>No users found!</span>
    </div>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(1, '<<', #{pagination.first.page})"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage - 1}, #{pagination.prev}, #{pagination.previous.page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="fragments/paging :: paging(${page}, ${page}, #{pagination.page(${page})})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage + 1},#{pagination.next}, #{pagination.next.page})"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${totalPages}, '>>', #{pagination.last.page})"></a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-warning">Yes</a>
                <button type="button" class="btn btn-secondary btn-default" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="editForm container">
    <form method="post" autocomplete="on" th:object="${user}" th:action="@{/admin/home/updateUser}">
        <div class="modal fade text-left" id="updateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <input id="username" name="username" type="text" hidden="hidden"/>
                            <div class="input-icons">
                                <i class="fa fa-user icon"></i>
                                <input type="text" class="form-control input-field" id="firstName" name="firstName"
                                       required="required" placeholder="мое имя"/>
                            </div>
                            <div class="input-icons">
                                <i class="fa fa-user icon"></i>
                                <input type="text" class="form-control input-field" id="lastName" name="lastName"
                                       required="required" placeholder="моя Фамилия"/>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" id="changeBtn" class="btn btn-secondary" value="Сохранить"/>
                        <input type="button" class="btn btn-secondary btn-default" data-bs-dismiss="modal"
                               value="Отменить"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            username = link.attr("username");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the User \<strong\>" + username + "\<\/strong\>?");
            $("#confirmModal").modal('show');
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/admin/home}]]";
        });

        $(".btn-update").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            var href = link.attr("href")
            user = link.attr("user");
            // $(".editForm #changeBtn").attr("href", href);
            $.get(href, function (user) {
                $(".editForm #username").val(user.username)
                $(".editForm #firstName").val(user.firstName)
                $(".editForm #lastName").val(user.lastName)
            });
            $(".editForm #updateModal").modal('show');
        });

        $(".dropdown-toggle").dropdown();
    });

    function changePageSize() {
        $("#searchForm").submit();
    }
</script>
</body>

</html>