<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class"/>
    <title th:text="#{title.beelife}">Beelife</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-body">
                        <div id="login">
                            <form method="post" autocomplete="on" th:action="@{/login}">
                                <h1 class="text-center" th:text="#{header.login}">Login</h1>
                                <p class="text-muted" th:text="#{label.login.to.account}">Sign In to your account</p>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
                                    <input type="text" class="form-control input-field" id="username" name="username"
                                           th:placeholder="#{input.placeholder.username}"/>
                                </div>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-lock icon"></i></span>
                                    <input type="password" name="password" class="form-control input-field" id="password"
                                           th:placeholder="#{input.placeholder.password}"/>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit" class="btn px-4 btn-warning" th:value="#{button.enter}"/>
                                    </div>
                                    <div class="col-6 text-right">
                                        <input type="submit" id="toRegistration" class="btn btn-link px-0 text-muted" th:value="#{button.registration}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="register" class="d-none">
                            <form method="post" autocomplete="on" th:action="@{/registration}">
                                <h1 class="text-center"  th:text="#{header.registration}"> Registration </h1>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
                                    <input type="text" class="form-control input-field" id="username_reg" name="username"
                                           required="required" th:placeholder="#{input.placeholder.username}"/>
                                </div>

                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
                                    <input type="text" class="form-control input-field" id="firstName_reg" name="firstName"
                                           required="required" th:placeholder="#{input.placeholder.first.name}"/>
                                </div>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
                                    <input type="text" class="form-control input-field" id="lastName_reg" name="lastName"
                                           required="required" th:placeholder="#{input.placeholder.last.name}"/>
                                </div>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
                                    <input type="email" class="form-control input-field" id="email_reg" name="email"
                                           required="required" placeholder="myusermail@mail.com"/>
                                </div>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-lock icon"></i></span>
                                    <input type="password" name="password" class="form-control input-field"
                                           id="password_reg" placeholder="X8df!90EO"/>
                                </div>
                                <div class="input-icons">
                                    <span class="input-group-addon"><i class="fa fa-lock icon"></i></span>
                                    <input type="password" name="passwordConfirm" class="form-control input-field"
                                           id="passwordConfirm_reg" placeholder="X8df!90EO"/>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit" class="btn px-4 btn-warning" th:value="#{button.registration}"/>
                                    </div>
                                    <div class="col-6 text-right">
                                        <input type="submit" id="toLogin" class="btn btn-link px-0 btn-reg text-muted" th:value="#{button.already.member}"/>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#toRegistration").on("click", function (e) {
            e.preventDefault();
            $("#login").addClass("d-none");
            $("#register").removeClass("d-none");
        });

        $("#toLogin").on("click", function (e) {
            e.preventDefault();
            $("#login").removeClass("d-none");
            $("#register").addClass("d-none");
        });
    });
</script>
</body>
</html>