<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Beelife</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/pagination.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/radioImage.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.5.0/css/flag-icons.min.css"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
</nav>
<div class="container-fluid h-100">
    <div th:if="${message != null}" class="alert alert-warning alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row h-100">
        <div class="col overflow-auto h-100 py-5">

            <div class="d-flex" th:replace="fragments/beehives :: beehives"></div>
            <div class="d-flex" th:replace="fragments/beehiveWeights :: beehiveWeights"></div>
            <div class="d-flex" th:replace="fragments/saveApiary :: saveApiary"></div>
        </div>
        <!--        <div class="col-3 bg-white" th:if="${apiaries != null && apiaries.size() > 0}" id="nextApiary"> Next</div>-->
    </div>
</div>

<div class="d-flex" th:replace="fragments/delete :: delete"></div>

<div class="d-flex" th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#addApiary").on("click", function (e) {
            e.preventDefault();
            $("#createApiary").removeClass("d-none");
            $("#nextApiary").addClass("d-none");
            $("#beehives").addClass("d-none");
            $("#beehiveeights").addClass("d-none");
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = window.location.origin + window.location.pathname
        });

        $("#btnAddBeehive").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            $(".saveForm #saveModal").modal('show');
        });

        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            message = link.attr("message");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html(message);
            $("#confirmModal").modal('show');
        });

        $(".btn-update").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            $(".saveForm #id").val(link.attr("id"))
            $(".saveForm #name").val(link.attr("name"))
            $(".saveForm #description").val(link.attr("description"))
            $(".saveForm #type").val(link.attr("type"))
            $(".saveForm #frame").val(link.attr("frame"))
            $(".saveForm #saveModal").modal('show');
        });

        $(".dropdown-toggle").dropdown();
    });

    function changePageSize() {
        $("#searchForm").submit();
    }
</script>

<script th:inline="javascript">
    var real_data = /*[[${chartData}]]*/'noValue';
    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawLineChart);
    });
    function drawLineChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', [[#{chart.column.measure}]]);
        data.addColumn('number', [[#{chart.column.weight}]]);
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : [[#{chart.subject.stats}]],
            hAxis : {
                title : [[#{chart.column.measure}]],
            },
            vAxis : {
                title : [[#{chart.column.weight}]]
            }
        };
        var chart = new google.visualization.LineChart(document
            .getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

</body>

</html>